.patient-form {
    text-align: center;
    margin-top: 10%;
}

table {
    display: flex;
    justify-content: center;
}

.label-table {
    text-align: right;
}

.input-table {
    text-align: left;
}

tr {
    height: 40px;
}

.width-form {
    width: 100%;
}

.custom-button {
    width: 100%;
    height: 100%;
}

.notice {
    border-radius: 5px;
    border: 1px solid #b13614;
    background-color: rgba(242, 74, 24, 0.71);
    color: #b13614;
    text-align: center;
    font-family: Arial, serif;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
}

img {
    margin-top: 30px;
    display: flex;
    height: 30vh;
    justify-content: center;
    align-content: center;
}